html
    head
        title New Sale
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="CSS/style.css")
    body
        h3 Place Order:
        .row
            .col
                Label Products:
        .row
            .col 
                table(style='width:90%', border='1')
                    tr
                        th Item Count
                        th Item Name
                        th Item Price
                        th Item ID
                    tr
                        td 5
                        td Rawlings 1stBase Mitt
                        td $25.00
                        td 1
                    tr
                        td 5
                        td Rawlings Trapeze Outfield 
                        td $35.00
                        td 2
                    tr
                        td 5
                        td Rawlings Trapeze Utility Glove
                        td $45.00
                        td 3
        form(method="post")
            .row    
                .col-2
                    label Product name:   
                .col-2
                    select(name='item')
                        option(name="1" value="1") Rawlings First Base Mitt
            .row
                .col-2
                    label Amount: 
                .col-2
                    select(name='Count', id='Count')
                        option(name="1" value="1") 1
                        option(name="2" value="2") 2
                        option(name="3" value="3") 3
                        option(name="4" value="4") 4
                        option(name="5" value="5") 5
            .row
                .col-2
                    button(type="submit" class="btn btn-primary" formaction="/addOrderAction") Submit
                .col-2
                    button(type="button" class="btn btn-primary" onclick="history.back()") Back
            