html
    head
        title Reports
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="CSS/style.css")
    body
        .container
            .row
                .col
                    a(href="/adminPage") Home
                .col
                    a(href="/Logout") Logout
        .row
            .col
                h3 Reports:
        .row
            .col
                button(type="Employees" class="btn btn-primary" onclick="window.location.href='/viewEmployees'") Employees List
            .col
                button(type="Customers" class="btn btn-primary" onclick="window.location.href='/viewCustomers'") Customers List
            .col
                button(type="Products" class="btn btn-primary" onclick="window.location.href='/viewProducts'") Products List
            .col
                button(type="Sales" class="btn btn-primary" onclick="window.location.href='/viewSales'") Sales List
            .col
                button(type="Sales" class="btn btn-primary" onclick="window.location.href='/viewSalesCustomer'") Sales by Customer
        .row
            .col
                div
                    p
            .col
                div
                    p
        .row
            .col
                button(type="Sales" class="btn btn-primary" onclick="window.location.href='/viewSalesProduct'") Sales by Product
            .col
                button(type="Sales" class="btn btn-primary" onclick="window.location.href='/viewGloveSteaming'") Steaming Order List
            .col
                button(type="Sales" class="btn btn-primary" onclick="window.location.href='/viewGloveSteamingCustomer'") View Steaming Orders by Customer
            .col
                button(type="Sales" class="btn btn-primary" onclick="window.location.href='/viewGloveSteamingEmployee'") View Steaming Orders by Employee