html
    head
        title Update Product
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="CSS/style.css")
    body
        .container
            .row
                .col
                    a(href="/Reports") Reports
                .col 
                    a(href="/AdminPage") Home
                .col
                    a(href="/Logout") Logout
        h3 Update Product
        form(method="post" )
            .row
                .col-2
                    label Item Count:
                .col-2
                    input(type="text" name="count" value=data[0].stock) 
            .row
                .col-2
                    label Item Price:
                .col-2
                    input(type="text" name="price" value=data[0].price) 
            .row
                .col-2
                    label Item Name:
                .col-2
                    input(type="text" name="name" value=data[0].P_name) 
            .row
                .col-2
                    label Item Type:
                .col-2
                    input(type="text" name="type" value=data[0].type) 
            .row
                .col-2
                    button(type="submit" class="btn btn-primary" formaction="/updateProductAction") Submit
                .col-2
                    button(type="button" class="btn btn-primary" onclick="history.back()") Back